<!DOCTYPE html>
<html lang="en">
 <head>
   <style>
   #customers {
   	border:5px solid green;
      border-collapse: collapse;
       width: 100%;
   }

   #customers th, td {
       padding: 8px;
       text-align: left;
       border-bottom: 1px solid #0000ff;
       border-top: 2px solid #0000ff;
   	    border-left: 2px solid #0000ff;
   		    border-right: 2px solid #ff0000;
   }

   #customers tr:hover {background-color:#6699ff;}
   </style>

 </head>
 <body BGCOLOR=silver>
 <CENTER>
  <h2>STUDENTS DETAILS</h2>
  <table id=customers>
  <tr>
	<td>CODE</td>
	<td>NAME</td>
	<td>COURSE</td>
	<td>FEE</td>
	</tr>
  <tr>
	<td>101</td>
	<td>HANUMANTH</td>
	<td>PYTHON</td>
	<td>9999</td>
  </tr>
  <tr>
	<td>102</td>
	<td>SURYA</td>
	<td>DJ</td>
	<td>8989</td>
  </tr>
  <tr>
	<td>103</td>
	<td>RAHUL</td>
	<td>HTML</td>
	<td>7777</td>
  </tr>

  </table>
<br><br><br><br><br><br><br><br>
 </body>

</html>
